doc/_build/
docs/.doctrees/
*.pyc
__pycache__/
.vscode/
*.swp
.DS_Store
*.gcno
*.gcda
*.o
*.so
*.exe
FastBuild/

# Exclude all markdown files except docs/
*.md
!docs/**/*.md

# Exclude compiled test binaries
*Tests.gcc-*
*Tests.vc*
